<div class=" footer-container">
  <div class="container">
    <div class="col-md-4">
      <h5>HELP</h5>
      <ul>
        <li>Payments</li>
        <li>Shipping</li>
        <li>Cancellations & Returns</li>
        <li>FAQ</li>
        <li>Report Infringement</li>
      </ul>
    </div>
  </div>
</div>
