<nav class="navbar navbar-default navbar-fixed-top custom-navbar">

  <div class="nav-link-container clearfix">
    <div class="container-fluid">

      <ul class="nav navbar-nav">
        <div class="brand">
          <a class="brand-anchor" href="/">
            EMART
          </a>
        </div>
        <li *ngFor="let parentCategory of categories; let i = index">
          <div *ngIf="parentCategory.parentId == 0" class="dropdown">
            <a routerLink="/lp/{{parentCategory.id}}"><button class="dropbtn text-uppercase">{{parentCategory.name}} <span class="caret"></span></button></a>

            <div class="dropdown-content">
              <div *ngFor="let category of categories; let i = index">
                <div class="col-md-3 category-menu-link-container" *ngIf="category.parentId == parentCategory.id" ><a class="category-menu-link text-uppercase" routerLink="/lp/{{category.encodedId}}">{{category.name}} <i class="fa fa-caret-right"></i></a>

                  <div *ngFor="let subCategory of categories;">
                    <a class="sub-category-menu-link" *ngIf="subCategory.parentId == category.id" routerLink="/search" [queryParams]="{catId : subCategory.id  }">{{subCategory.name}}</a>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>

</nav>
