<div class="container-fluid" style="background: #fff;padding: 20px 0">
  <form class="form-horizontal" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="name" [(ngModel)]="name" placeholder="Enter Category Name" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="parent-category">Parent Category:</label>
      <div class="col-sm-3">
        <select name="parent-category" id="parent-category" [(ngModel)]="parentCategoryId" class="form-control">
          <option value="" disabled>--Select--</option>
          <option *ngFor="let parentCategory of parentCategories; let i = index" [value]="parentCategory.id">
            {{parentCategory.name}}
          </option>
        </select>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="search-result-name">Search Result Name:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="search-result-name" [(ngModel)]="searchResultName" placeholder="Enter Search Result Name" name="search-result-name">
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="is_active">State:</label>
      <div class="col-sm-10">
        <label class="checkbox-inline"><input type="checkbox" id="is_active" name="is_active" [(ngModel)]="state">Active</label>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="is_vertical">Vertical:</label>
      <div class="col-sm-10">
        <label class="checkbox-inline"><input type="checkbox" id="is_vertical" name="is_vertical" [(ngModel)]="isVertical">Yes</label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>


  </form>
</div>
