.page-container{
  font-family: Roboto;
  background: #fff;margin: 0 15px;
}



.product-img-details{
  width: 100%;
}
.product-img-container{
  margin: 20px 20px;
}

.product-img-holder{
  padding: 30px 0;
  margin: 0 auto;
  height: 400px;
  width: 400px;
}

.product-details-section{
  border-left: 1px solid #dedede;
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
}
.product-details{
  padding: 30px;
  min-height: 400px;
}
.product-title{
  font-size: 20px;
  font-weight: 400;
}
.product-price-details{
  clear: both;
}

.product-selling-price{
  font-size: 28px;
  font-weight: 500;
}

.mrp{
  font-size: 16px;
  text-decoration: line-through;
  font-weight: 400;
  color: #878787;
  padding: 0 7px;
}

.product-summary{
  width: 60%;
  color: #777;
}

.product-specifications{
  padding: 30px 40px;
  border-top: 1px solid #dedede;
}


.product-specification-category{
  margin-bottom: 30px;
}

.product-specification-category-name{
  /*border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;*/
  font-size: 18px;
  padding: 10px 0;
}

.product-feature{
  padding: 12px 0;
  /*padding-left: 20px;*/
  font-size: 14px;
  font-weight: 400;
  clear: both;
}



.product-feature-name{
  color: #aaa;
  width: 250px;
  float: left;
}
.product-feature-name-value-separator{
  color: #212121;
  float: left;
}
.product-feature-name-value-separator:before{
  content: ":";
  padding-right: 20px;
}
.product-feature-value{
  color:  #212121;
  float: left;
  width: 350px;
}

