<div id="myCarousel" class="carousel slide bg-inverse" data-ride="carousel">

  <div class="carousel-inner" role="listbox">

    <div *ngFor="let banner of banners; let i = index" class="carousel-item {{ i == 0 ? 'active' : '' }}">
      <img class="d-block img-fluid ml-auto mr-auto" [(src)]="banner.bannerImage" alt="First slide">
      <div class="carousel-caption">
        <h3>First slide</h3>
        <p>This is the first slide.</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


