<div class="container-fluid" style="background: #fff;padding: 20px 0">
  <form class="form-horizontal" (ngSubmit)="addProduct()">

    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label class="control-label col-sm-2" for="brandId">Brand:</label>
          <div class="col-sm-5">
            <select name="parent-category" id="brandId" [(ngModel)]="brandIndex" class="form-control">
              <option value="" disabled>--Select--</option>
              <option *ngFor="let brand of brands; let i = index" [value]="i">
                {{brand.brandName}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="verticalId">Vertical:</label>
          <div class="col-sm-5">
            <select name="verticalId" id="verticalId" [(ngModel)]="verticalIndex" class="form-control" (change)="onChangeVertical()">
              <option value="" disabled>--Select--</option>
              <option *ngFor="let vertical of verticals; let i = index" [value]="i">
                {{vertical.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="categoryId">Category:</label>
          <div class="col-sm-5">
            <select name="categoryId" id="categoryId" [(ngModel)]="categoryIndex" class="form-control">
              <option value="" disabled>--Select--</option>
              <option *ngFor="let category of categories; let i = index" [value]="i">
                {{category.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="productName">Product Name:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="productName" [(ngModel)]="productName" name="productName">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="sellingRate">Selling Rate:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="sellingRate" [(ngModel)]="sellingRate" name="sellingRate">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="mrp">Mrp:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="mrp" [(ngModel)]="mrp" name="mrp">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="image1">Image 1:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="image1" [(ngModel)]="image1" name="image1">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="image2">Image 2:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="image2" [(ngModel)]="image2" name="image2">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="image3">Image 3:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="image3" [(ngModel)]="image3" name="image3">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="image4">Image 4:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="image4" [(ngModel)]="image4" name="image4">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="image5">Image 5:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="image5" [(ngModel)]="image5" name="image5">
          </div>
        </div>


      </div>
      <div class="col-md-6">

        <table class="table">
          <thead>
          <tr>
            <th>Feature Name</th>
            <th>Feature Value</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let feature of productFeatureNames; let i = index">
            <td>{{feature.prodFeatureName}}</td>
            <td><input type="text" [name]="feature.prodFeatureName" [(ngModel)]="productFeatureNames[i]['value']"></td>
          </tr>

          </tbody>
        </table>

      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>


  </form>
</div>
