@CHARSET "ISO-8859-1";

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@import url('https://fonts.googleapis.com/css?family=Belleza');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');


@media (min-width: 1024px) and (max-width: 1030px){

  #header-div{
    margin-bottom: 120px;
  }
  .navbar{
    color: white;
  }
}



@media (min-width: 320px) and (max-width: 1023px){

  .navbar{
    background: #e40046;
    border: none;
    color: white;
  }
  .collapsable-menu{
    border: none;
  }

  .custom-navbar-toggle{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background: transparent;
  }

  .navbar-inverse .navbar-toggle:focus ,
  .navbar-inverse .navbar-toggle:hover{
    background: #c70039;
  }

  #header-div{
    margin-bottom: 130px;
  }

  #header-nav{
    color: white;
  }
  .search-bar {
    width: 90%;
    height: 32px;
  }
}
/*End of media query 320px to 767px*/



.clearfix{
  clear:both;
}
#navbar{
  background: yellow;
}

.navbar{
}
.navbar a{
  text-decoration: none;
}

.custom-menu{
  background: #e40046;
}
#header-div{
  margin-bottom: 120px;
}
.navbar{
  color: white;
}

.search-bar{
  height: 32px;
  border-radius: 2px;
  width: 95%;
}
#search-btn{
  height: 32px;
  border-radius: 1px;
}

.modal-content{
  border-radius: 0px;
}
.text-center{
  vertical-align: middle;
}
.modal-header{
  padding: 5px 15px;
}



.custom-navbar{
  background: #fff;
  border: none;
}


.nav-header{
  height: 100%;
}

.brand{
  font-size: 23px;
  font-family: Belleza;
  font-weight: 600;
  padding: 10px 28px;
  float: left;
}
.brand-anchor{
  color: #275a99;
}
.nav-link-container{
  /*background: #e40046;*/
  /*background: #367bbb;*/
  /*background: #275a99;*/
  background: #fff;
  /*font-family: Belleza;*/
  font-family: poppins;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}


.bg-white{
  background: white;
}
.bg-custom{
  background: #eee !important;
}

/*hoverable dropdown mechanism*/
.dropbtn {
  background-color: transparent;
  color: #275a99;
  padding: 14px 0;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.dropdown::after{
  content: "";
  visibility: hidden;
  width: 0;
  display: block;
  background: #0174ff;
  height: 4px;
  margin: 0 auto;
  transition: all .2s;
}
.dropdown:hover::after{
  visibility: visible;
  width: 100%;
}
.dropdown:focus{
  border: none;
}
.dropbtn:focus,
.dropbtn:active{
  border: none;
}

/* .custom-menu li:FIRST-CHILD .dropbtn{
	padding-left: 14px;
} */

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding-bottom: 15px;
  transform: translateY(4px) ;
  background-color: #fff;
  min-width: 800px;
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #444;
  padding: 5px 0px;
  padding-top: 13px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: transparent;
  color: #337ab7;
}

.category-menu-link{
  font-weight: 500;
  font-size: 12px;
}
.category-menu-link-container .sub-category-menu-link{
  padding: 5px 0px;
  font-size: 12px;
  font-weight: 400;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /*background: #c7003d;*/
}
/*hoverable dropdown mechanism*/



.mrp{
  font-size: 13px;
  text-decoration: line-through;
  font-weight: 300;
  color: #aaa;
  padding: 0 7px;
}


.img-responsive{
  display: block;
  max-width: 100%;
  height: inherit;
  margin: 0 auto;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}
.reset-padding{
  padding: 0;
}
.reset-padding-right{
  padding-right: 0;
}
.reset-padding-left{
  padding-left: 0;
}
.reset-padding-top{
  padding-top: 0;
}
.reset-padding-bottom{
  padding-bottom: 0;
}

.reset-margin{
  margin: 0;
}

.carousel-inner > .item > img{
  height: 350px;
}
.pagination > li > a{
  cursor: pointer;
}

.action{
  cursor: pointer;
}


/*Scrollbar css*/

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(40,40,40,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
}
/*scrollbar css*/
